<!DOCTYPE html>
<html>
<head>
  <title>Bloccitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
   <body>
<!-- adding code for AJAX -->
<div class="flash">
	<% if flash[:notice] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:notice] %>
		</div>
	<% elsif flash.now[:alert] %>
		<div class="alert alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash.now[:alert] %>
		</div>
	<% elsif flash[:alert] %>
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<%= flash[:alert] %>
		</div>
	<% end %>
</div>     
<!-- check if user is signed in -->
     <header class="navbar navbar-default navbar-fixed-top">
       <div class="container">
         <div class="nav-title">
         <% if user_signed_in? %>
           Signed in as: <strong><%= current_user.email %></strong>
        </div>
        <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        </ul>
   <% else %>
<!-- display sign up and sign in buttons if user is not logged in -->
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'%></li>
      <li><%= link_to "Sign In", new_user_session_path, :class => 'navbar-link' %></li>
   <% end %>
 </div>
 </nav>
<div class="container">
  <% if notice %><div class="alert alert-info"><%= flash[:notice] %></div><% end %>
  <% if alert %><div class="alert alert-warning"><%= flash[:alert] %></div><% end %>
  <%= flash[:error] %>

  <%= yield %>
</div>
</body>
</html>
